{%  extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Eddie's Store!!!</p>
                </div>
            </div>
        </header>
<!-- ABOUT WEBSITE TEXT -->
        <div class = "container">
            <div class = "row">
                <center>
                    <div class = "col - 8">
                        <br/><br/>
                            <p align = "justify">
                        Welcome to our e-commerce website! Here you'll find everything you need, from clothing and 
                        accessories to household items and electronics. We pride ourselves on providing high-quality 
                        products at affordable prices, and our user-friendly website makes it easy to find exactly what
                        you're looking for. We also offer fast and reliable shipping, as well as top-notch customer 
                        service. So browse our selection today and start shopping with confidence!
                            <br/><br/>  
                        </p>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}
